<h1>Welcome New Teacher!</h1>

<h3>Please create your profile:</h3>

<%= bootstrap_form_for(@teacher) do |f| %>
  <%= f.text_field :name, label: "Name:" %>
  <%= f.email_field :email, label: "Email:" %>
  <%= f.password_field :password, label: "Password:" %>
  <%= f.text_field :subject, label: "Subject:" %>
  <%= f.select :classroom, Classroom.all.collect { |c| c.name}, { label: "Select a classroom:"} %>

  <h5>Or create a new classroom:</h5>

    <%= f.fields_for :classroom do |classroom_form| %>

    <%= classroom_form.text_field :name, label: "Name:" %>

    <%= classroom_form.text_field :location, label: "Location:" %> <br><br>

    <% end %>

    <%= f.primary "Create Teacher" %>

<% end %>
