<h2>Welcome, <%= @teacher.name %>! </h2>

<h4><%= @teacher.classroom_name %> </h4>

<%= display_grade_format(@teacher) %>

<h4> <% @teacher.semesters.each do |semester| %>
    <%= semester.quarter_year %>
  <% end %>
</h4>


<h3>General information about your students:</h3>
<h5>Students with the highest score: <% @teacher.highest_score_students.each do |s| %>
  <ul>
    <li><%= s.name %></li>
  </ul>
<% end %>
</h5>

<h5>Students with the lowest score: <% @teacher.lowest_score_students.each do |s| %>
  <ul>
    <li><%= s.name %></li>
  </ul>
<% end %>
</h5>

<h4>Here are a list of your students:</h4>

<div class="table-responsive">
  <table class="table table-striped">
      <thead>
        <tr>

          <th scope="col">Name</th>
          <th scope="col">Grade</th>
          <th scope="col">Score</th>

        </tr>
      </thead>
      <tbody>
        <% @teacher.students.each do |s| %>
        <tr>

          <td> <%= s.name %> </td>
          <td> <%= s.grade %> </td>
          <td> <%= s.score %> </td>
          <td> <%= link_to "Show", student_path(s) %> </td>
          <td> <%= link_to "Edit", edit_teacher_student_path(@teacher, s) %> </td>

        </tr>
        <% end %>
      </tbody>

  </table>
  <!-- <caption>List of students</caption> -->
</div>

<p> <%= link_to "Add a Grade", new_teacher_teacher_semester_path(current_teacher, @teacher_semester) %> </p>

<p> <%= link_to "Edit your profile", edit_teacher_path(@teacher) %> </p>

<p> <%= link_to "Add a New Student", new_teacher_student_path(@teacher) %> </p>

<%= link_to "Teacher with the most students", teachers_most_students_path %>
